<div *ngIf="(carrera$ | async) && carrera">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <h1 class="title">Carrera Nº {{ carrera.id }}</h1>
            <p class="title-date">Fecha: {{ carrera.fechaCarrera | date:'short' }}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
            <mat-card *ngFor="let item of msgForCards" [style.background-color]="item.color">
                <mat-card-header>
                    <mat-card-title>
                        <h4 class="amount-card-title">{{ item.key }}</h4>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="row" fxLayoutAlign="center center">
                    <span class="amount-card-content">${{ item.value }}</span>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <button mat-raised-button color="primary" matTooltip="Regresar al inicio" class="back-button"
                routerLink="/home">
                <mat-icon>arrow_back</mat-icon>
                <span class="text-icon-spacer">Regresar</span>
            </button>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
        <!--
        <button mat-raised-button color="primary" matTooltip="" class="option-button">
            <span>Abrir Carrera</span>
        </button>
        -->

        <app-abrir-cerrar-carrera [opts]="false" [isDisabled]="carrera.estaActiva" [carrera]="carrera">
        </app-abrir-cerrar-carrera>
        <app-abrir-cerrar-carrera [opts]="true" [isDisabled]="carrera.estaCerrada" [carrera]="carrera">
        </app-abrir-cerrar-carrera>
        <app-agregar-apuesta [carrera]="carrera" [isDisabled]="carrera.estaActiva && carrera.estaCerrada"></app-agregar-apuesta>
        <app-agregar-ejemplar [carrera]="carrera" [isDisabled]="carrera.estaActiva && carrera.estaCerrada"></app-agregar-ejemplar>
        <app-agregar-ganador [carrera]="carrera" [isDisabled]="!carrera.estaActiva && !carrera.estaCerrada && !carrera.ganador"></app-agregar-ganador>


    </div>

    <div fxLayout="row" class="table-container">
        <table mat-table [dataSource]="detallesDataSource" class="mat-elevation-z0 carrera-table">
            <!-- <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nº </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{ element.id }} </td>
            </ng-container> -->

            <ng-container matColumnDef="idEjemplar">
                <th mat-header-cell *matHeaderCellDef> Nombre Ejemplar </th>
                <td mat-cell *matCellDef="let element">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                        <span>{{ element.ejemplar.ejemplar.nombre | uppercase }}</span>
                        <mat-chip-list *ngIf="element.ejemplar.esFavorito">
                            <mat-chip selected color="primary" class="text-center">
                                Favorito
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="idCliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let element"> {{ element.cliente?.nombre ?? '' }} </td>
            </ng-container>

            <ng-container matColumnDef="montoApuesta">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Monto Apuesta </th>
                <td mat-cell *matCellDef="let element" class="text-center"> ${{ element.montoApuesta }} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Acciones</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <button mat-icon-button color="primary">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="primary">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="detallesDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: detallesDisplayedColumns;" class="custom-row"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se encuentran datos disponibles</td>
            </tr>
        </table>
    </div>
</div>