.title {
    font-size: 2.5em;
    font-weight: 400;
    margin: 1em 2em 0 2em;
    color: #858585;
}

.title-date {
    margin: 0.5em 10em 2em 5em;
    color: #959595;
    font-size: 1.5em;
    font-weight: 500;
}

.table-container {
    margin: 3em;
    max-height: 50%;
    overflow-y: auto;
}

.carrera-table {
    width: 100%;
}

.back-button {
    margin-right: 5em;
}

.option-button {
    height: 3em;
}

.custom-row:hover {
    background: #f9f9f9;
}

.amount-card-title {
    font-size: 0.8em;
    font-weight: 500;
    color: #fffffff2;
    margin: 0;
}

.amount-card-content {
    font-size: 1.7em;
    color: #fff;
    font-weight: 600;
}

::ng-deep .mat-chip-list-wrapper {
    justify-content: center;
}

.ganador-button {
    margin: 0 1em;
    cursor: default;
}

.monto {
    font-size: 1.5em; 
    font-weight: 600;
}