.title {
    font-size: 2.5em;
    font-weight: 400;
    margin: 1em 2em 0 2em;
    color: #858585;
}

.title-date {
    margin: 0.5em 10em 2em 5em;
    color: #959595;
    font-size: 1.5em;
    font-weight: 500;
}

.table-container {
    margin: 3em;
    max-height: 50%;
    overflow-y: auto;
}

.carrera-table {
    width: 100%;
}

.back-button {
    margin-right: 5em;
}

.option-button {
    height: 3em;
}