<div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="12px"
  class="main-container"
>
  <a [routerLink]="['/home']">
    <button
      mat-raised-button
      color="primary"
      class="custom-button"
    >
      Carreras del día
    </button>
  </a>
  <a [routerLink]="['/reports']">
    <button mat-stroked-button color="primary" class="custom-button">
      Reportes
    </button>
  </a>
  <a [routerLink]="['/settings']">
    <button mat-stroked-button color="primary" class="custom-button">
      Configuración
    </button>
  </a>
</div>
