.title {
    font-size: 2.5em;
    font-weight: 400;
    margin: 1em 2em 0 2em;
    color: #000000a8;
}

.title-date {
    margin: 0 10em 2em 10em;
    color: #4c4c4c;
    font-size: 1.2em;
}

.table-container {
    margin: 3em;
}

.carrera-table {
    width: 100%;
}
