<div class="main-container" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="main-card-container">
        <mat-card-header>
            <mat-card-title>
                <h1>Centro Hipico App Versión 1</h1>
            </mat-card-title>
            <mat-card-subtitle>Registro de usuario</mat-card-subtitle>
        </mat-card-header>
        <mat-divider>
        </mat-divider>
        <mat-card-content>
            <form>
                <div class="form-auth-padding" fxLayout="column" fxLayoutGap="12px">
                    <mat-form-field>
                        <input matInput placeholder="Nombre">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Nombre de usuario" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Contraseña" autocomplete="off">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button color="primary">Registrar</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>